body{
    background-color: #206FAA;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    #root{
        width: 40%;
        margin: auto;
        margin-top: 200px;
        background-color: #FEFEFE;
        border-radius: 10px;
        padding: 30px 20px;
        .inputDiv{
           
            input{
                border: none;
                border-bottom: 2px solid #DADADA;
                padding-bottom: 9px;
                margin-right: 13px;
                font-size: 23px;
                outline: none;
                &::placeholder{
                    color: #797879;
                }
            }
            label{
                background-color: #EDEDED;
                border: transparent;
                padding: 9px 5px;
                font-size: 25px;
                color: rgb(51, 49, 49);
                border-radius: 7px;
            }
        }
        button{
            margin-top: 40px;
            margin-right: 40px;
            font-size: 28px;
            border: none;
            background: transparent;
            color: #C1C1C1;
            &:active{
                color: black;
            }
        }
        p{
            font-size: 22px;
            color: black;
        }
      }
  }
 